<template>
  <h2>Events:</h2>
  <div class="wrapper">
    <div class="wrap-element" v-for="elem in events" :key="elem.id">
      <div class="wrap-text">
        <div class="info">
          <p class="title">Name:</p>
          <p>{{ elem.name }}</p>
        </div>
        <div class="info">
          <p class="title">Description:</p>
          <p>{{ elem.description }}</p>
        </div>
        <div class="info">
          <p class="title">Start Date:</p>
          <p>{{ elem.startDate }}</p>
        </div>
        <div class="info">
          <p class="title">End Date:</p>
          <p>{{ elem.endDate }}</p>
        </div>

        <div class="info">
          <p class="title">Location:</p>
          <p>{{ elem.location.name }}</p>
        </div>
      </div>

      <div class="wrap-button">
        <button @click="deleteEvent(elem.id)">Delete</button>
        <button>Update</button>
      </div>
    </div>
  </div>

  <h2>Locations:</h2>
  <div class="wrapper">
    <div class="wrap-element" v-for="elem in locations" :key="elem.id">
      <div class="wrap-text">
        <div class="info">
          <p class="title">Name:</p>
          <p>{{ elem.name }}</p>
        </div>
        <div class="info">
          <p class="title">Description:</p>
          <p>{{ elem.description }}</p>
        </div>
      </div>

      <div class="wrap-button">
        <button>Delete</button>
        <button>Update</button>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, inject } from 'vue'
import { Socket } from 'socket.io-client'

const socket = inject('socket') as Socket

import gql from 'graphql-tag'
import { useLazyQuery, useMutation } from '@vue/apollo-composable'

const events: any = ref([])
const locations: any = ref([])

const { load } = useLazyQuery(gql`
  query GetAll {
    events {
      id
      name
      description
      startDate
      endDate
      location {
        id
        name
      }
    }
  }
`)

const { load: loadLocations } = useLazyQuery(gql`
  query GetAllLocations {
    locations {
      id
      name
    }
  }
`)

const { mutate: deleteEventApollo } = useMutation(gql`
  mutation RemoveEvent($input: Int!) {
    removeEvent(id: $input) {
      startDate
    }
  }
`)

const deleteEvent = (input: any) => {
  deleteEventApollo({
    input
  })
}

socket.on('delete', (id: number) => {
  events.value = events.value.filter((elem: any) => elem.id !== id)
})

onMounted(async () => {
  socket.on('connect', () => {
    console.log('connected')
  })
  const eventsValue = await load()
  const locationsValue = await loadLocations()

  events.value = eventsValue.events
  locations.value = locationsValue.locations
})
</script>

<style scoped lang="scss">
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .wrap-element {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    margin: 1em;
    padding: 1em;

    .wrap-text {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 1em;

      .info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5em;

        p {
          margin: 0;
          color: white;
        }

        .title {
          margin-right: 0.5em;
          color: white;
          opacity: 0.5;
        }
      }
    }

    .wrap-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 1em;

      button {
        margin: 0.5em;
        padding: 0.5em;
        border-radius: 0.5em;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        cursor: pointer;
      }
    }
  }
}
</style>
